{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Posts By {{view.kwargs.username}} ({{ page_obj.paginator.count }}){{user.id}}</h1>
    {% for post in read_posts %}
        {% if post.read_check( user.id ) %}
                <article class="media content-section" style="border-color  :#4c2b50; cursor:pointer;" onclick="location.href = '{% url 'post_detail' post.id %}'">
                  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                      <strong><a class="mr-2"  style="text-decoration :none ;color :black ;" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a></strong>
                      <small class="text-muted">{{ post.time_published}}</small>
                  <hr>
                  <div class="media-body">

                  <h2><a class="article-title" style="text-decoration :none ;color :black ;" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                      {% if post.image %}
                        <img STYLE="max-width :800px ;" src="{{ post.image.url }}">
                        {% endif %}
                    <p class="article-content">{{ post.content }}</p>
                  </div>
                </article>
        {% endif %}
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock content %}